---
layout: workshop
root: .
title: Software and Data Carpentry's "Instructor Training" Workshop
venue: University of Manchester
address: Atlas Rooms 1 and 2, Kilburn Building, School of Computer Science, University of Manchester, Oxford Road, Manchester M13 9PL
latlng: 53.467674, -2.233924
humandate: 23-24 November 2015
humantime: 09:00-17:00
startdate: 2015-11-23
enddate: 2015-11-24
instructor: ["Greg Wilson", "Karin Lagesen", "Aleksandra Pawlik"]
contact: "a.nenadic@manchester.ac.uk"
etherpad: http://pad.software-carpentry.org/2015-11-23-Manchester-Instructor-Training
---



<h2>Workshop information</h2>

<p>
    This workshop covers the basics of educational psychology and instructional design,
    and looks at how to use these ideas in both intensive workshops and regular classes.
</p>
<p>
    The workshop is a mix of lectures and hand-on lessons where you practice giving a
    short lesson using approaches learned.
</p>
<p>
    This is training for teaching, not technical training; you do not need any particular technical background,
    and we will not be teaching that.
</p>

<h4 class="jumbotron" style="padding: 10px; margin: 0px 0px 10px 0px;">
    Register for the workshop
    <a target="_blank" href="http://www.eventbrite.com/e/elixir-uk-software-data-carpentry-instructor-training-23-24-november-2015-registration-18186942635">via EventBrite</a>.
</h4>

<p>
    <strong>Date and time:</strong>
    {{page.humandate}}, {{page.humantime}}
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.

<p>
  <strong>Who:</strong>
  E.g. this workshop is run for the University of Manchester staff and graduate students.
</p>
-->

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
<p>
    <strong>Location:</strong>
    {{page.address}}.
    {% if page.latlng %}
    Get directions with
    <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
    or
    <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
    {% endif %}
</p>

<!--
  INSTRUCTORS
-->
<p>
    <strong>Trainers:</strong>
    {% if page.instructor %}
    {{page.instructor | join: ', ' %}}
    {% else %}
    To be announced
    {% endif %}
</p>



<!--
  REQUIREMENTS

  Specify the requirements for the workshop, e.g. software that needs to be pre-installed, etc.
-->
<p>
    <strong>Requirements:</strong> Participants should bring a laptop that is Internet connected and has a functioning browser.
    If you have it, a specialized device for recording audio and video (mobile phones and laptops are OK) - throughout the two days,
    we are going to record one another teaching in pairs or threes. It does not have to be high-quality,
    but it should be good enough that you can understand what someone is saying.

<p><em>Also, make sure you read the
    <a href="#preparation">Preparation</a> section below.</em></p>
</p>

<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
    <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
    <br/>
    We will use this Etherpad for chatting, taking and sharing notes, URLs and other useful bits.
</p>
{% endif %}

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
    <strong>Contact</strong>:
    Please email
    {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
    {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
    {% endif %}
    for more information.
</p>

<hr/>

<h2> Acknowledgement and support</h2>
<p> This workshop is supported by <a target="_blank" href="http://elixir-uk.org/">ELIXIR-UK.</a></p>

<hr/>

<h2>Schedule</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Day 1</h3>
        <table class="table table-striped">
            <tr>
                <td>09:00</td>
                <td>Welcome and introductions</td>
            </tr>
            <tr>
                <td>9:30</td>
                <td>Overview: key concepts and training goals</td>
            </tr>
            <tr>
                <td>10:00</td>
                <td>Formative vs. summative assessment</td>
            </tr>
            
            <tr>
                <td>10:30</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>Teaching as performance art</td>
            </tr>
            <tr>
                <td>12:30</td>
                <td>Lunch break</td>
            </tr>
             <tr>
                <td>13:30</td>
                <td>Discussion on the exercise on teaching as performance art</td>
            </tr>
            <tr>
                <td>14:00</td>
                <td>Concept maps</td>
            </tr>
            <tr>
                <td>14:30</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td> Concept maps - continued</td>
            </tr>
             <tr>
                <td>16:00</td>
                <td>Motivation and demotivation. Diversity. Indifference.</td>
            </tr>
            <tr>
                <td>16:45</td>
                <td>Wrap-up</td>
            </tr>
            <tr>
                <td>17:00</td>
                <td>Close</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Day 2</h3>
        <table class="table table-striped">
            <tr>
                <td>09:00</td>
                <td>Recap and homework review<br></td>
            </tr>
            <tr>
                <td>09:30</td>
                <td>Alternative formative assessment techniques</td>
            </tr>
            <tr>
                <td>10:30</td>
                <td>Coffee break</td>
            </tr>
             <tr>
                <td>11:00</td>
                <td>Live coding and active learning</td>
            </tr
            <tr>
                <td>12:30</td>
                <td>Lunch break</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td>Overview of Software and Data Carpentry infrastructure</td>
            </tr>
             <tr>
                <td>14:00</td>
                <td>Setting up and running a workshop</td>
            </tr>
            <tr>
                <td>14:30</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>Overview of existing materials; how to contribute</td>
            </tr>
            <tr>
                <td>16:00</td>
                <td>Next steps</td>
            </tr>
            <tr>
                <td>16:45</td>
                <td>Wrap-up</td>
            </tr>
            <tr>
                <td>17:00</td>
                <td>Close</td>
            </tr>
        </table>
    </div>
</div>

<h2 id="preparation" name="preparation">Preparation</h2>
<ol>
    <li>Please read <a target="_blank"
                       href="http://files.software-carpentry.org/training-course/2013/08/p34-porter.pdf">Porter et al's  "Success
        in Introductory Programming: What Works?"</a>,
        which is a good recent summary of results specific to teaching programming, and <a target="_blank"
                                                                                           href="http://cacm.acm.org/blogs/blog-cacm/189498-top-10-myths-about-teaching-computer-science/fulltext">Mark
            Guzdial's "Top 10 Myths About Teaching Computer Science"</a>,
        which is a nice overview of things that <em>are not</em> true, but are widely believed.
    </li>

    <li>Please also pick up a copy of <a target="_blank"
                                         href="http://www.amazon.com/How-Learning-Works-Research-Based-Jossey-Bass/dp/0470484101/">"How
        Learning Works"</a>, which is the best summary
        going of research in education. It is full of useful insights, and a lot of how we teach is based on the
        findings
        it reports.

    <li>Finally, please go to <a target="_blank" href=" http://software-carpentry.org/lessons.html">Software Carpentry's</a> and <a href="http://www.datacarpentry.org/lessons/">Data Carpentry's</a>
        lessons pages and browse the lessons to see what
        is currently taught in Software and Data Carpentry.

    <li>If you are interested in doing more reading, <a target="_blank"
                                                        href="http://www.amazon.com/Teaching-What-You-Dont-Know/dp/0674066170">Huston's
        "Teaching What You Don't Know"</a> is a lot of fun - many will recognize themselves in these
        stories. Past participants have also enjoyed <a target="_blank"
                                                        href="http://www.amazon.com/Building-Better-Teacher-Teaching-Everyone/dp/0393081591">"Building
            a Better Teacher"</a>, which is a well-written look at
        why educational reforms in the past 50 years have mostly failed, and about what we should be doing instead.
    </li>
</ol>


<h2>Selected reference and training materials</h2>

<ul>
    <li><a target="_blank"
           href="http://files.software-carpentry.org/training-course/2013/08/p34-porter.pdf">Porter et al's "Success in
        Introductory Programming: What Works?"</a></li>
    <li><a target="_blank"
           href="http://cacm.acm.org/blogs/blog-cacm/189498-top-10-myths-about-teaching-computer-science/fulltext">Mark
        Guzdial's "Top 10 Myths About Teaching Computer Science"</a></li>
    <li><a target="_blank"
           href="http://www.amazon.com/How-Learning-Works-Research-Based-Jossey-Bass/dp/0470484101/">Susan A. Ambrose's "How
        Learning Works"</a></li>
    <li><a target="_blank"
           href="http://www.amazon.com/Teaching-What-You-Dont-Know/dp/0674066170">Huston's
        "Teaching What You Don't Know"</a></li>
    <li><a target="_blank"
           href="http://www.amazon.com/Building-Better-Teacher-Teaching-Everyone/dp/0393081591">Elisabeth Green's "Building
        a Better Teacher"</a></li>
</ul>
