---
layout: workshop
root: .
title: ELIXIR AAI Workshop
venue: University of Manchester
address: Atlas Rooms 1 & 2, Kilburn Building, School of Computer Science, University of Manchester, Oxford Road, Manchester M13 9PL
latlng: 53.467674, -2.233924
humandate: 15-16 March 2016
humantime: 09:00-17:00
startdate: 2016-03-15
enddate: 2016-03-16
instructor: []
contact: ["a.nenadic@manchester.ac.uk", "ari-matti.saren@csc.fi"]
etherpad:
---

<h2>Workshop Information</h2>

<p>
    This workshop covers the basics of Authentication and Authorisation Infrastructure (AAI), getting started with Shibboleth 
    and setting up Identity Providers (IdPs) and Service Providers (SPs).
</p>
<p>
    The workshop is intended for organizations that provide resources (e.g. research data) and services 
    (e.g. processing of the research data) for scientific research and education in various fields, such as bioinformatics, 
    high energy physics, arts and humanities and so forth. 
</p>
<p>
    The aim of this training is to help the resource and service providers to make their resources and services 
    available to the users through identity federations. If the concept of the identity federation is not familiar 
    to the reader, the reader should first read the training module <a href=https://aarc-project.eu/documents/training-modules/federations-101/>Federations 101</a>
    that explains the basic concepts of federated identity. 
</p>

<p>
    The workshop is a mix of lectures and hands-on lessons where participants will have an apportunity to play 
    around with installing and setting up code.
</p>

<p>
    <strong>Date and time:</strong>
    {{page.humandate}}, {{page.humantime}}
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.

<p>
  <strong>Who:</strong>
  E.g. this workshop is run for the University of Manchester staff and graduate students.
</p>
-->

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
<p>
    <strong>Location:</strong>
    {{page.address}}.
    {% if page.latlng %}
    Get directions with
    <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
    or
    <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
    {% endif %}
</p>

<!--
  REQUIREMENTS

  Specify the requirements for the workshop, e.g. software that needs to be pre-installed, etc.
-->
<p>
    <strong>Requirements:</strong> Participants should bring a laptop - if you do not have one, please let the organisers know in advance. You may also be paired with someone else.
</p>

<p>
    Also, have a look at the documentation from the <a href="#prepararation">Preparation</a> section below.
</p>

<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
<!--{% if page.etherpad %}-->
<!--<p>-->
    <!--<strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.-->
    <!--<br/>-->
    <!--We will use this Etherpad for chatting, taking and sharing notes, URLs and other useful bits.-->
<!--</p>-->
<!--{% endif %}-->

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
    <strong>Contact</strong>:
    Please email
    {% if page.contact %}
        {% assign contacts_size = page.contact | size %}
        {% for contact in page.contact: %}
            {% assign loopindex = forloop.index %}
            <a href='mailto:{{contact}}'>{{contact}} </a>
            {% if loopindex < contacts_size - 1  %}
                or
            {% endif %}
        {% endfor %}
    {% endif %}
    for more information.
</p>

<h2>Workshop Registration</h2>

<h4 class="jumbotron" style="padding: 10px; margin: 0px 0px 10px 0px;">
    Register for the workshop
    <a target="_blank" href="https://www.eventbrite.com/e/elixir-aai-workshop-tickets-19929099473">via EventBrite</a>.
</h4>

<hr/>

<h2> Acknowledgement and support</h2>
<p> This workshop is supported by <a target="_blank" href="http://elixir-uk.org/">ELIXIR-UK</a> and the <a target="_blank" href="https://aarc-project.eu/">AARC project</a>.</p>

<hr/>

<h2>Schedule</h2>
<p>
The workshop has two parts: Day 1 is common to all participants. Day 2 will have parallel sessions to cover 
more community specific topics.
</p>

<h3>Day 1: Providing online services to a SAML based identity federation using Shibboleth software</h3>
<p>
A resource or service provider needs to install a server called Service Provider (SP) and integrate it with 
his or her service in order to securely provide resources and services to a SAML based identity federation 
online. In this submodule the participants install, test and configure a Service Provider using open source 
Shibboleth SP software. The goal is to make the participants familiar with the basics configuration of 
Shibboleth SP. At the end of the training participants should be familiar with the basic aspects of running 
a Shibboleth SP.
</p>
<p>
Main Goals of the Training
<ul>
<li>Install and configure a Shibboleth Service Provider 2</li>
<li>Know how and where to configure basic functionalities</li>
<li>Learn how to protect static web pages and applications</li>
<li>Understand how attributes can be used within web applications</li>
</ul>
</p>

<h3>Day 2</h3>
<div class="row">
    <div class="col-md-6">
        <h3>ELIXIR AAI</h3>
        <table class="table table-striped">
            <tr>
                <td>09:00</td>
                <td>Introduction to ELIXIR AAI</td>
            </tr>
            <tr>
                <td>10:30</td>
                <td>Coffee Break</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>Integrating a SAML SP to the ELIXIR AAI</td>
            </tr>
            
            <tr>
                <td>12:30</td>
                <td>Lunch</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td>Group management in ELIXIR</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>Coffee Break</td>
            </tr>
             <tr>
                <td>15:15</td>
                <td>Integrating ELIXIR groups into the SAML SP</td>
            </tr>
            <tr>
                <td>16:30</td>
                <td>End</td>
            
        </table>
    </div>
    <div class="col-md-6">
        <h3>Day 2</h3>
        <table class="table table-striped">
            <tr>
                <td>09:00</td>
                <td>Live coding<br></td>
            </tr>
            <tr>
                <td>10:30</td>
                <td>Coffee break</td>
            </tr>
             <tr>
                <td>11:00 </td>
                <td></td>
            </tr>
            <tr>
                <td>12:30</td>
                <td>Lunch break</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td></td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>15:15</td>
                <td></td>
            </tr>
            <tr>
                <td>16:15</td>
                <td>Wrap-up and post-workshop questionnaire</td>
            </tr>
            <tr>
                <td>16:30</td>
                <td>Close</td>
            </tr>
        </table>
    </div>
</div>

<h2>Preparation</h2>
<a name="preparation" id="preparation">&nbsp;</a>
Please read the following documentation before the workshop:
<ul>
    <li><a target="_blank" href="https://www.switch.ch/aai/support/presentations/sp-training-2014/">SWITCH AAI Shibboleth Service Provider Training</a></li>
    <li><a target="_blank" href="https://www.switch.ch/aai/support/presentations/shibboleth-training-2015/">SWITCH AAI Shibboleth Training 2015</a></li>
</ul>

