---
layout: workshop
root: .
title: AAI Workshop for Service and Resource Providers
venue: University of Manchester
address: Kilburn Building, School of Computer Science, University of Manchester, Oxford Road, Manchester M13 9PL, UK (Room 2.15 on Day 2, Room 1.10 and Mercury Room on Day 2)
latlng: 53.467674, -2.233924
humandate: 15-16 March 2016
humantime: 09:00-17:00
startdate: 2016-03-15
enddate: 2016-03-16
instructor: []
contact: ["a.nenadic@manchester.ac.uk", "ari-matti.saren@csc.fi"]
etherpad:
---

<h2>Workshop Information</h2>

<p>
    The workshop is intended in particular for organizations that provide resources and services for ELIXIR (life sciences) 
    and DARIAH (art and humanities) research infrastructures. The workshop is divided into two parts. The first part is 
    more generic and useful to any service provider interested in providing online services to SAML based identity 
    federation. The second part is more specific and focuses on integrating a service with ELIXIR and DARIAH research 
    infrastructure respectively.
</p>
<p>
    The aim of this workshop is to help the service providers to make their resources and services available to the 
    users of the research infrastructure. This workshop has a down-to-earth and hands-on approach that will be rather 
    technical and detailed at times. The workshop teaches in practice how to install the open source Shibboleth 
    software needed to integrate in the research infrastructure. The participants will install, test and configure 
    a Service Provider using open source Shibboleth SP software. The goal is to make the participants familiar 
    with the basic configuration of Shibboleth SP. At the end of the training participants should be familiar 
    with the basic aspects of running a Shibboleth SP and integrating it to ELIXIR or DARIAH research infrastructures.
</p>
<p>
    The workshop is a mix of lectures and hands-on lessons where participants will have an opportunity to play 
    around with installing and setting up code.
</p>
<p>
    Main goals of the training
    <ul>
    <li>Install and configure a Shibboleth Service Provider 2</li>
    <li>Know how and where to configure basic functionalities</li>
    <li>Learn how to protect static web pages and applications</li>
    <li>Understand how attributes can be used within web applications</li>
    <li>Learn how to integrate the Shibboleth SP to ELIXIR or DARIAH and what additional services they offer</li>
    </ul>
</p>
</p>

<h4>Date and time</h4>
<p>
    {{page.humandate}}, {{page.humantime}}
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.

<p>
  <strong>Who:</strong>
  E.g. this workshop is run for the University of Manchester staff and graduate students.
</p>
-->

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
<h4>Location</h4>
<p>
    {{page.address}}.
    {% if page.latlng %}
</p>
<p>
    Get directions with
    <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
    or
    <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
    {% endif %}
</p>
<h5 class="jumbotron" style="padding: 10px; margin: 0px 0px 10px 0px;">
    <a href="{{ site.baseurl }}accommodation.html">Local travel and accomodation information.</a> Also make sure you have <a target="_blank" href="https://www.gov.uk/government/organisations/uk-visas-and-immigration">a visa for the UK</a>, if you require one.
</h5>

<!--
  REQUIREMENTS

  Specify the requirements for the workshop, e.g. software that needs to be pre-installed, etc.
-->
<h4>
    Requirements
</h4>
<p>
    Participants should bring a laptop - if you do not have one, please let the organizers know in advance. You may 
    also be paired with someone else.
</p>
<p>
    Participants should have a basic understanding of federations and federated identity management, 
    including the terms and the benefits. Participants should also be familiar with the concept 
    and the motivation of running Authentication and Authorization Infrastructure (AAI) services. 
    The basic Linux skills are also strongly recommended.
</p>
<p>
    The training is performed on a virtual machine (VM). The VM image that can be run in Virtual 
    Box (recommended) or VMware Player/Fusion. To run the SP Training VM the following minimal 
    requirements have to be met:
    <ul>
        <li>User must have administration privileges on the laptop</li>
        <li>Any recent (< 4 years) Intel or AMD processor.</li>
        <li>4 GByte RAM (at least 1.5GB free memory)</li>
        <li>12 GByte free harddisk space</li>
        <li>Internet Connectivity</li>
        <li><a href=https://www.virtualbox.org/>VirtualBox</a> (or <a href=http://www.vmware.com/products/player/>VMWare Player</a>) installed and fully operational.</li>
    </ul>
</p>
<p>
    Also, have a look at the documentation from the <a href="#preparation">Preparation</a> section below.
</p>

<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
<!--{% if page.etherpad %}-->
<!--<p>-->
    <!--<strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.-->
    <!--<br/>-->
    <!--We will use this Etherpad for chatting, taking and sharing notes, URLs and other useful bits.-->
<!--</p>-->
<!--{% endif %}-->

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<h4>Contact</h4>
<p>
    Please email
    {% if page.contact %}
        {% assign contacts_size = page.contact | size %}
        {% for contact in page.contact: %}
            {% assign loopindex = forloop.index %}
            <a href='mailto:{{contact}}'>{{contact}} </a>
            {% if loopindex < contacts_size - 1  %}
                or
            {% endif %}
        {% endfor %}
    {% endif %}
    for more information.
</p>

<h2>Workshop Registration</h2>

<h4 class="jumbotron" style="padding: 10px; margin: 0px 0px 10px 0px;">
    Register for the workshop
    <a target="_blank" href="https://www.eventbrite.com/e/elixir-aai-workshop-tickets-19929099473">via EventBrite</a>.
   
</h4>

<hr/>

<h2> Acknowledgements and Support</h2>
<p> This workshop is organised and supported by the <a target="_blank" href="https://aarc-project.eu/">AARC project</a>, <a target="_blank" href="https://de.dariah.eu/dariah-de-english">DARIAH-DE</a>, <a target="_blank" href="http://www.elixir-finland.org/">ELIXIR-FI</a> and <a target="_blank" href="http://elixir-uk.org/">ELIXIR-UK</a>, and the <a target="_blank" href="http://www.geant.org/Projects/GEANT_Project_GN4-1/">GÉANT project</a>.</p>

<hr/>

<h2>Schedule</h2>
<p>
The workshop has two parts: Day 1 is common to all participants. Day 2 will have parallel sessions to cover 
more community specific topics.
</p>

<h4>Day 1 (Room 2.15): Providing online services to a SAML based identity federation using Shibboleth software</h4>
<p>
    Trainers: Lukas Hämmerle (GÉANT/SWITCH), Martin Haase (DAASI), Mikael Linden (CSC), Irina Mikhailava (GÉANT), Timo Mustonen (CSC)
</p>
<p>
A resource or service provider needs to install a server called Service Provider (SP) and integrate it with 
his or her service in order to securely provide resources and services to a SAML based identity federation 
online. In this submodule the participants install, test and configure a Service Provider using open source 
Shibboleth SP software. The goal is to make the participants familiar with the basics configuration of 
Shibboleth SP. At the end of the training participants should be familiar with the basic aspects of running 
a Shibboleth SP.
</p>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tr>
                <td>09:00</td>
                <td>Welcome and Introductions</td>
            </tr>
            <tr>
                <td>09:15</td>
                <td>Federated Identity Management, SAML, Shibboleth and VM Setup</td>
            </tr>
            <tr>
                <td>10:30</td>
                <td>Coffee break</td>
            </tr>
             <tr>
                <td>10:50 </td>
                <td>Basic Shibboleth SP Installation and Configuration</td>
            </tr>
            <tr>
                <td>12:30</td>
                <td>Lunch break</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td>Session Handling and User Attributes</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>15:20</td>
                <td>Access Control, Advanced Topics and Q&A session</td>
            </tr>
            <tr>
                <td>17:00</td>
                <td>Close</td>
            </tr>
        </table>
        <table></table>
    </div>
</div>
<p></p>

<h4>Day 2 (Room 1.10 and Mercury Room)</h4>
<div class="row">
    <div class="col-md-6">
        <h4>ELIXIR session (Room 1.10)</h4>
        <p>
            Trainers: Michal Prochazka (ELIXIR-CZ), Mikael Linden (ELIXIR-FI)
        </p>
        <table class="table table-striped">
            <tr>
                <td>09:00</td>
                <td>Coffee and arrivals</td>
            </tr>
            <tr>
                <td>09:15</td>
                <td>Introduction to ELIXIR AAI</td>
            </tr>
            <tr>
                <td>10:45</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>Integrating a SAML SP to the ELIXIR AAI</td>
            </tr>
            <tr>
                <td>12:30</td>
                <td>Lunch</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td>Group management in ELIXIR</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>Coffee break</td>
            </tr>
             <tr>
                <td>15:15</td>
                <td>Integrating ELIXIR groups into the SAML SP</td>
            </tr>
            <tr>
                <td>16:15</td>
                <td>Wrap-up and post-workshop questionnaire</td>
            </tr>
            <tr>
                <td>16:30</td>
                <td>Close</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h4>DARIAH session (Mercury Room)</h4>
        <p>
            Trainers: Peter Gietz, Martin Haase (DARIAH-DE / DAASI International)
        </p>
        <table class="table table-striped">
            <tr>
                <td>09:00</td>
                <td>Coffee and arrivals</td>
            </tr>
            <tr>
                <td>09:15</td>
                <td>Introduction to the DARIAH AAI</td>
            </tr>
            <tr>
                <td>10:45</td>
                <td>Coffee break</td>
            </tr>
             <tr>
                <td>11:00 </td>
                <td>Configuring the Shibboleth SP for the DARIAH AAI (Overview, and Hands-On Part I)</td>
            </tr>
            <tr>
                <td>12:30</td>
                <td>Lunch break</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td>Configuring the Shibboleth SP for the DARIAH AAI (Hands-On Part II)</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>15:15</td>
                <td>Options for connecting your SP with DARIAH AAI</td>
            </tr>
            <tr>
                <td>16:15</td>
                <td>Wrap-up and post-workshop questionnaire</td>
            </tr>
            <tr>
                <td>16:30</td>
                <td>Close</td>
            </tr>
        </table>
    </div>
</div>

<h2 id="preparation">Preparation</h2>
Please read the following documentation before the workshop:
<ul>
    <li><a target="_blank" href="https://aarc-project.eu/documents/training-modules/federations-101/">Federations 101</a></li>
    
</ul>

