---
---
<!DOCTYPE html>
<!--
  Use this layout for the home page for the workshop website.
  Use 'page.html' for other pages.
-->
<html>
<head>
  <title>{{ page.title }}: {{ page.venue }}</title>
  {% include header.html %}
  <meta name="venue" content="{{page.venue}}" />
  <meta name="date" content="{{page.humandate}}" />
  <meta name="startdate" content="{{page.startdate}}" />
  <meta name="enddate" content="{{page.enddate}}" />
  {% if page.redirect %}
  <meta http-equiv="refresh" content="0; url={{page.redirect}}" />
  {% endif %}
</head>
<body class="workshop">

<!--    {% include github-ribbon.html %}-->

<div class="container card">
  {% include banner.html %}
  <br>
  <div class="jumbotron" style="padding: 20px; margin: 0px;">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 style="margin-top: 10px;">
          {{page.title}}
        </h2>
        <h3>{{page.humandate}}{% if page.humantime %}, {{page.humantime}}{% endif %}</h3>
        <h3>{{page.address}}</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{content}}
    </div>
  </div>
  <!--      {% include footer.html %}-->
</div>
{% include javascript.html %}
</body>
</html>
